<!-- Footer -->
<footer>
    <div class="container text-center">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Back to Top</a>
        <p>Created by UL Lafayette Informatics Program in collaboration with CGI Federal</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts -->
<script src="js/main.min.js"></script>

</body>

</html>
