<% include ../partials/header %>

<!-- About Section -->
   <section id="about" class="about-section content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About Lafayette Pollution Guide</h2>
                <p>Lafayette Pollution Guide is a collaboration between CGI Federal and students of UL Lafayette to encourage Smart City interactions by utilitizing the CajunCodeFest Open Data Portal. The Lafayette Pollution Guide web application brings awareness to the air quality in the Lafayette, Louisiana community. Data is shown through the integration of the open pollution data and the map below to provide users with a sound knowledge base about the air pollution in Lafayette.
                    <br><br>The Open Data Portal is the source of our information which is home to a multitude of data categories. The portal pulls it's information from the Lafayette City-Parish Consilidated Governement and other Lafayette Parish sources as well as State and Federal sources. The overall goal of this project is to encourage the distribution of open data from federal, state and local governements, so citizens, researchers and businesses can explore the data and create new innovative applications.
                </p>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>